<li class="<%= 'active' if is_active_link?(url_for(item.uri), :inclusive) %>">
  <% if item.try(:icon).present? -%>
    <i class="<%= item.try(:icontype) || 'fa' %> <%= item.try(:icontype) || 'fa'%>-fw <%= item.icon %>"></i>
  <% end -%>
  <% if item.uri.present? -%>
    <%= link_to item.uri do -%>
      <%= item.title %>
    <% end -%>
  <% else -%>
    <%= item.title %>
  <% end -%>
</li>