<li class="nav-item" title="<%= menu.parent.title %>" data-original-title="<%= menu.parent.title %>">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
    href="#collapse<%= menu.id %>"  data-parent="#<%= menu.type%>">
    <% if menu.parent.try(:icon).present? %>
      <i class="fa fa-fw <%= menu.parent.icon %>"></i>
    <% end -%>
    <span class="nav-link-text"><%= menu.parent.title %></span>
  </a>
  <% menu.items.each do |item| %>
    <%= render "#{menu.type}_menu/submenu_item", item: item %>
  <% end %>
</li>
