<li <%= 'class="active"' if is_active_link?(item.uri, :inclusive) %>>
  <% if item.try(:icon).present? %>
    <i class="fa fa-fw <%= item.icon %>"></i>
  <% end %>
  <% if item.uri.present? %>
    <%= link_to item.uri do -%>
      <%= item.title %>
    <% end -%>
  <% else %>
    <%= item.title %>
  <% end -%>
</li>