<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="<%= title %>">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapse<%= title.parameterize %>" data-parent="#sidemenu">
    <i class="fa fa-fw fa-<%= icon %>"></i>
    <span class="nav-link-text"><%= title %></span>
  </a>
  <%= render 'menu' locals:{class:'sidenav_second-level collapse', id:"collapse#{title.parameterize}"}%>
</li>
